<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Forgot Password</title>
</head>

<body>



    <% if(error.length> 0) { %>
        <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= error %>
            </span>
        </div>
        <% } %>

            <% if(success.length> 0) { %>
                <div class="absolute top-5 left-1/2 transform -translate-x-1/2 p-3 rounded-md bg-blue-500">
                    <span class="inline-block text-white">
                        <%= success %>
                    </span>
                </div>
                <% } %>
                    <div class="pl-3 text-xl pt-3">
                        <h3 class="text-xl pt-3">Shopify</h3>
                    </div>
                    <div class="w-full h-screen flex items-center justify-center px-4 sm:px-10 lg:px-20">
                        <div class="w-full sm:w-3/4 md:w-2/3 lg:w-1/2">
                            <h3 class="text-2xl sm:text-3xl mb-4 sm:mb-6">Forgot Password</h3>
                            <form autocomplete="off" action="/users/forgot-password" method="post">
                                <input
                                    class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                                    type="email" placeholder="Enter your email" name="email" required>
                                <input class="px-5 rounded-full py-3 mt-2 bg-blue-500 text-white w-full sm:w-auto"
                                    type="submit" value="Send Reset Link">
                            </form>
                        </div>
                    </div>

                    <%- include('./partials/footer') %>

</body>

</html>